<!DOCTYPE html>
<html>
  <head>
    <title>Harvest Loop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-sm navbar-custom">
      <a class="navbar-brand"><%= image_tag('navbar-logo.png') %></a>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Demo", demo_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      </ul>
    </nav>

    <!-- Page Content -->
    <%= yield %>
  </body>
</html>